@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

    <div class="container-fluid">

        <!-- Page Heading -->
        @*<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>*@

        <div class="jumbotron">
            <div>
                <a type="button" class="btn btn-primary" href="@Url.Action("Create", "User", new { area = "Admin"})" style="margin-bottom: 5px;">Tạo tài khoản</a>
            </div>
        </div>


    </div>